/* INICIO BANNER ANIMES.VALUES() */
#top-section-main{
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}
#top-section-content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#top-section-content h1{
    font-size: 3.5em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 90px;
}
#top-section-content p{
    font-size: 1.3em;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 0;

}
/* FIM BANNER ANIMES.VALUES() */

/* INICIO O QUE É ANIMES VALUES E CARDS */

#feature-section{
    padding-top: 100px;
}
.feature-section-title{
    width: 70%;
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    margin: auto;
}

.feature-content{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    border-radius: 50px;
}
.col-3{
    width: 33%;
    float: left;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* background-color: #c7def184; */
    background-color: #e07730;
}
.feature-content .col-3 p{
    font-size: 20px;
    letter-spacing: 1px;
    
}
.feature-content .col-3{
    padding: 10px;
    width: 30%;
}
.col-2{
    width: 48%;
    float: left;
    
}

/* BANNER MEUS VALORES */

#showcase1-container{
    padding-top: 60px;
    background-color: #c7def184;
    width: 100%;
    clear: both;
}

#showcase2-container{
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: #ffffff;
    width: 100%;
    clear: both;
}
.showcase{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.showcase1pic{
    width: 80%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.feature-text{
    padding-top: 100px;
}
.feature-text2{
    padding-top: 50px;
}
.section-title{
    width: 70%;
    margin: auto;
    font-weight: 200;
    line-height: 1.5em;
}
.section-left{
    width: 70%;
    padding: 20px 10px 10px 10px;
    font-size: 25px;
    margin: auto;
}


/* QUIZ */

#call-to-action{
    background-image: url("../assets/quiz.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}
.action-title{
    font-size: 4em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}
.col-1{
    width: 80%;
    margin: auto;
}
.col-1 p{
    font-size: 1.6em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 100px;
}
.col-1 .action-title{
    font-family: Arial, Helvetica, sans-serif
}
.col-1 p{
    font-family: Arial, Helvetica, sans-serif
}

.signupBTN{
    background-color: #e07730;
    color: #ffffff;
    font-size: 35px;
    font-weight: 200;
    text-decoration: none;
    padding: 30px 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.signupBTN:hover{
    background-color: #e07630c7;
}

/* FOOTER */
footer{
    clear: both;
    height: 600px;
    background-image: url("../assets/footer.png");
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.social-footer{
    width: 33%;
    float: left;
    height: 40%;
}
.social-footer:hover{
    background-color: #e07630c7;
    opacity: .5;
}
.center{
    width: 50px;
    margin: auto;
    padding-top: 60px;
}
.copyright{
    font-size: 20px;
    text-align: center;
    display: block;
    padding-top: 5px;
    color: #ffffff;
}
